
/* 이양완료 목록 테이블 중점관리 대상 항목 */
.point-badge {
  display: inline-block;
  padding: 7px 12px;
  font-size: 14px;
  font-weight: 700;
  color: #706DF0;
  border: 1px solid #706DF0;
  background-color: rgba(112, 109, 240, 0.1);
  border-radius: 16px;
}

/* 이양완료 상세 테이블 버튼 */
.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-icon img {
  display: block;
}

/* 이양완료 상세 모달 */
.modal-flex-box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
}
.side-nesting-wrap {
  min-width: 248px;
  width: 248px;
  min-height: 600px;
}
.side-nesting-wrap .nesting-tab {
  display: flex;
  height: 48px;
  background-color: #F4F7FB;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.side-nesting-wrap .nesting-tab div {
  height: 100%;
  line-height: 48px;
  text-align: center;
  flex-grow: 1;
  font-size: 16px;
}
.side-nesting-wrap .nesting-tab div.active {
  font-weight: 700;
  background-color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid #D8DDE9;
  border-bottom: none;
}
.side-nesting-wrap {
  display: flex;
  flex-direction: column;
}
.nesting-list-wrap {
  border: 1px solid #D8DDE9;
  padding: 16px;
  flex-grow: 1;
  overflow-y: auto;
  color: #494E56;
  padding-right: 0;
}
.nesting-list-wrap .search_box {
  position: relative;
  padding-right: 16px;
}
.nesting-list .row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.nesting-list button {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AEB7C6;
  border-radius: 4px;
}
.nesting-list ul {
  margin-left: 28px;
  margin-top: 16px;
}
.nesting-list ul li {
  margin-bottom: 16px;
}
.nesting-list .list-label {
  color: #000;
}
.nesting-list .list-label.active {
  color: #706DF0;
}
.nesting-list .row a,
.nesting-list .row span {
  cursor: pointer;
  font-size: 15px;
}
.nesting-list .row a {
  color: #717B8A;
}
.nesting-list .row a.active {
  font-weight: 700;
  color: #000;
}
/* 모달 버튼 크기 */
.modal-flex-box .button__wrap button {
  width: 108px;
}
.circle-button {
  width: 20px;
  height: 20px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D8DDE9;
  border-radius: 50%;
  border: none;
}
.circle-button img {
  display: block;
  width: 100%;
}
.modal-con-title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.table-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.table-btn-group button {
  width: 24px;
  height: 24px;
  border: 1px solid #D8DDE9;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-flex-box table td {
  padding: 8px 12px;
  color: #717B8A;
  min-height: 41px;
  line-height: 24px;
}
.modal-flex-box table td label {
  margin: 0;
}
.modal-flex-box table .input_type.check input+.txt:before {
  top: -3px;
  left: 3px;
}
.modal-flex-box table tr.active {
  background-color: #EDF3FF;
}

.modal-flex-box .modal_n_body {
  flex-grow: 1;
}

.modal_n_body .tab-button {
  display: flex;
  background-color: #F4F7FB;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}
.modal_n_body .tab-button div {
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
}
.modal_n_body .tab-button div.active {
  background-color: #fff;
  border: 1px solid #D8DDE9;
  border-bottom: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #000;
}

/* 지표관리 테이블 */
.table-type3 {
  border: 1px solid #D8DDE9;
  border-radius: 8px;
  overflow: hidden;
}
.table-type3 th {
  height: 34px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #D8DDE9;
  border-right: 1px solid #D8DDE9;
}
.table-type3 th:last-child {
  border-right: none;
}
.table-type3 td[rowspan] {
  border-right: 1px solid #D8DDE9 !important;
}
.table-link-list {
  border: 1px solid #D8DDE9;
  border-radius: 8px;
  padding: 16px;
}
.table-link-list ul {
  display: flex;
  flex-wrap: wrap;
}
.table-link-list ul li {
  flex-basis: 25%;
  font-size: 16px;
  display: flex;
  padding-right: 16px;
  margin-bottom: 16px;
  gap: 6px;
  align-items: flex-start;
}
.table-link-list ul li::before {
  display: block;
  content: '';
  min-width: 6px;
  width: 6px;
  height: 6px;
  background-color: #D8DDE9;
  border-radius: 50%;
  margin-top: 6px;
}
.table-link-list ul li a {
  color: #000;
}
.table-link-list ul li .text-gray {
  color: #717B8A;  
  margin-top: 6px;
}
.table-type4 {
  border: 1px solid #D8DDE9;
}
.table-type4 th {
  background-color: #F4F7FB;
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #D8DDE9;
  border-right: 1px solid #D8DDE9;
}
.table-type4 th:last-child {
  border-right: none;
}

/* 시스템관리자 */
.link-text {
  color: #FF8B4A;
  text-decoration: underline;
}